@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global use */
body {
  @apply bg-allWhite
  
}

.appLabel {
  @apply text-xl font-semibold text-primary;
}

h1 {
  @apply text-3xl font-GSemibold text-allBlack;
}



.confirmBtn {
  @apply bg-primary text-allWhite py-2 px-4 rounded-md;
  
}

.confirmBtn:hover {
  @apply bg-darkprimary py-2 px-4 rounded-md
  transition-all duration-300 ease-out;
  
} 

.underlinedLink {
  @apply text-primary font-medium;
}

.underlinedLink:hover {
  @apply underline cursor-pointer
}

.scrollnobar {
  scrollbar-width: none;
  overflow-y: scroll;
  @apply hover:cursor-n-resize;
}

/* Core layout */
.forBoxes section {
  @apply my-auto p-4 bg-allWhite rounded-md border border-allBlack
}



/* Text Config */
.boxLabel {
  font-size: 16px;
  @apply  text-paleBlack font-GLight;
}

.currency {
  font-size: 32px;
  @apply font-semibold font-GRegular ;
}

.categoryLabel {
  font-size: 16px;
  @apply text-darkprimary font-GRegular;
}


/* Fonts */
@font-face {
  font-family: Geist-Light;
  src: url('../fonts/Geist-Light.otf')  format('opentype');;
  
}

@font-face {
  font-family: Geist-Regular;
  src: url('../fonts/Geist-Regular.otf')  format('opentype');;
  
}

@font-face {
  font-family: Geist-Medium;
  src: url('../fonts/Geist-Medium.otf')  format('opentype');;
  
}

@font-face {
  font-family: Geist-Semibold;
  src: url('../fonts/Geist-SemiBold.otf')  format('opentype');;
  
}

@font-face {
  font-family: Geist-Bold;
  src: url('../fonts/Geist-Bold.otf')  format('opentype');;
  
}

@font-face {
  font-family: Geist-Black;
  src: url('../fonts/Geist-Black.otf')  format('opentype');;
  
}