@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global use */
body {
  @apply bg-allWhite
  
}

.confirmBtn {
  @apply bg-primary text-allWhite py-2 px-4 rounded-md
  transition-all duration-200 ease-out;
}


.confirmBtn:hover {
  @apply bg-darkprimary py-2 px-4 rounded-ss-3xl
 
} 

.alertBtn {
  @apply bg-alert text-allWhite py-2 px-4 rounded-md
  transition-all duration-300 ease-out;
}

.alertBtn:hover {
  @apply bg-red-600 text-allWhite py-2 px-6  rounded-ss-3xl;
  
}
.underlinedLink {
  @apply text-primary font-GMedium;
}

.underlinedLink:hover {
  @apply underline cursor-pointer
}

.scrollnobar {
  scrollbar-width: none;
  overflow-y: scroll;
  @apply hover:cursor-n-resize;
}



.prevnext {
  @apply text-darkprimary text-sm font-GRegular px-4 py-2
  transition-all duration-300 ease-out;
}




.prevnextDisabled {
  @apply text-subheading text-sm font-GRegular px-4 py-2;
}

.pagingtab {
  @apply text-darkprimary  font-GRegular px-4 py-2  
  transition-all duration-300 ease-out;
}

.pagingtabOn {
  @apply text-allWhite bg-darkprimary font-GRegular px-6 
}

.dateInput {
  @apply text-allWhite focus:text-allBlack font-GRegular rounded-sm 
  bg-darkprimary focus:bg-allWhite border-paleBlack  
  shadow-sm focus:border-primary focus:ring-primary;
}



/* Core layout */
.forBoxes section {
  @apply  p-4 bg-transparent rounded-md border border-subheading shadow-lg  
  max-h-fit
}




/* Text Config */
.appLabel {
  @apply text-xl font-GSemibold text-primary;
}

h1 {
  @apply text-3xl font-GSemibold text-allBlack;
}

.nodataText {
  @apply text-subheading  
  font-GMedium text-sm py-2;
}


.boxLabel {
  font-size: 16px;
  @apply  text-paleBlack font-GLight;
}

.currency {
  font-size: 28px;
  @apply font-semibold font-GRegular ;
}


.categoryLabel {
  font-size: 16px;
  @apply text-darkprimary font-GRegular;
}

.truncated-notes {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 110px; /* Adjust the max-width as needed */
}

.disabledMenu {
  @apply text-gray-400;
}


/* Fonts */
@font-face {
  font-family: Geist-Light;
  src: url('../fonts/Geist-Light.otf')  format('opentype');;
  
}

@font-face {
  font-family: Geist-Regular;
  src: url('../fonts/Geist-Regular.otf')  format('opentype');;
  
}

@font-face {
  font-family: Geist-Medium;
  src: url('../fonts/Geist-Medium.otf')  format('opentype');;
  
}

@font-face {
  font-family: Geist-Semibold;
  src: url('../fonts/Geist-SemiBold.otf')  format('opentype');;
  
}

@font-face {
  font-family: Geist-Bold;
  src: url('../fonts/Geist-Bold.otf')  format('opentype');;
  
}

@font-face {
  font-family: Geist-Black;
  src: url('../fonts/Geist-Black.otf')  format('opentype');;
  
}

